@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    border:none;
}
body{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color:#3a3a3a;
}   


/*headings and logo*/

h1,h2{

    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    margin: 25px;
}

#logo {
    float: left;
    font-size: 240%;
    margin-left: 30px;
 }

 #menu {
    font-size: 110%;
    letter-spacing: 4px;
    }

  #menu, #logo  {
line-height: 75px;


  }
  #menu li {
     
        float: right;
        list-style-type: none;
        margin-right: 30px;
     }

#menu a {
    text-decoration: none;
    color: inherit;
}
  
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*main page image */


#main-outer{

    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2{
    color: #fff;
}

#main-image {

    height: 800px;
    width: 100%;
    background: url(../images/mainpage.jpg);


    /* animates pic*/
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}




/*main zoom pic */
@keyframes main-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 70%;
    font-family: montserrat, sans-serif;
    text-transform:none;
    letter-spacing: 4px;

    width: 1200px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(71, 72, 150, 0.7);

    bottom: 30px;
    right: 350px;

    position: absolute;
}

/*paragraphs*/
p{
    font-size: 110%;
    font-family: system-ui, sans-serif;
    letter-spacing: 4px;
    margin: 35px;
    
}

/*footer*/
footer {
    height: 150px;
}

.social-networks{
    text-align: center;
}

.social-networks > li {
    display: inline;
}

#demo-video{
    width: 35%;
    margin: 0 auto; 
    }



.social-networks i {
    font-size: 160%;
    margin:1%;
    padding: 5%;
    color: #3a3a3a;

}

.left-side {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.right-side {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.right-photos{
    
    float: right;    
    margin: 0 0 0 15px;
}

.left-photos{
    
    float: left;    
    margin: 0 0 0 15px;
}

hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}







